
/*CSS configuration */
/* ID selector  */
#formContainer {
    /* the syntax is cssproperty: value */
background-color: orchid ;
}
/* ID selector */
#formContainer2div {
background-color: orchid;
}
h3{
color: green;
}
colorofsubmit
/* Tag selector */
span{
color: blue;
}
/* class selector */
.text-wrapper{
/* border: width, px= pixels tipe og border, solid color of border  */
border: 1px solid green;
}
/* if it doesnt have any tag og ID or class, so it'll apply */
/*  this is lowest priority */
/* class selector */
 *{
background-color: orange;
}
